doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(type='text/javascript', src='/socket.io/socket.io.js')
		script(type='text/javascript', src="//d3js.org/d3.v3.min.js")
		script(type='text/javascript', src='//code.jquery.com/jquery.min.js')
		script(type='text/javascript', src='/javascripts/liveviz.js')
		//- script(type='text/javascript', src='/javascripts/cddAPI.js')
		//- script(type='text/javascript', src='http://mixmini.mixlab.be:3000/javascripts/api.js')
	body
		block content