body
	padding: 50px
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
	color: #00B7FF

.background
	background-color: #F8F0CE
	position: absolute
	top: 0px
	left: 0px
	z-index: -100

.foreground
	position: absolute
	top: 0px
	left: 0px
	z-index: -100